html,
body {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #000000, #8338EC, #3A86FF);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    background: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

#container {
    width: 35%;
    height: 600px;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 20;
    border-radius: 10px;
    outline: 1px solid #fff;
    outline-offset: 3px;
    -moz-outline-radius: 10px;
}

#title_container {
    width: 100%;
    height: 5%;
    text-align: center;
    float: left;
    margin: 0;
    color: #003049;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #003049;
}

#form_container {
    width: 100%;
    height: 55%;
    float: left;
    margin-top: 2px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}

#form_container * {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 1;
    background: #000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin: 5px;
    padding: 2px;
    text-align: center;
    margin-top: 3px;
    float: left;
    border-radius: 30px;
    color: #fff;
}

#button_container {
    width: 100%;
    height: 5%;
    text-align: center;
    float: left;
    margin-bottom: 50px;
    font-family: Verdana;
}

#submit:hover {
    background-color: black;
    transition: 0.5s;
    opacity: 0.7;
}

#update:hover {
    background-color: black;
    transition: 0.5s;
    opacity: 0.7;
}

#get:hover {
    background-color: black;
    transition: 0.5s;
    opacity: 0.7;
}

#delete:hover {
    background-color: black;
    transition: 0.5s;
    opacity: 0.7;
}

#logout:hover {
    background-color: black;
    transition: 0.5s;
    opacity: 0.7;
}

#submit,
#update,
#getUser,
#getPost,
#delete,
#uiddelete {
    width: 27%;
    height: 40px;
    margin: 10px;
    display: inline-block;
    position: relative;
    background-color: #51ff00;
    border-radius: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
}

#logout {
    width: 10%;
    height: 40px;
    margin-left: 20%;
    margin-top: -475px;
    position: absolute;
    display: inline-block;
    background-color: #ff0000;
    border-radius: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    cursor: pointer;
}

#content {
    width: 105px;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    color: #D62828;
    margin-right: 5px;
}

.typedtext {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #D62828;
}